/data
.env
*.db
*.sqlite3
node_modules/
__pycache__/
*.log
*.apk
.venv/bin/python
.venv/bin/python3
.venv/bin/python3.12
.venv/lib/python3.12/site-packages/av.libs/libSvtAv1Enc-58030e1d.so.4.1.0
.venv/lib/python3.12/site-packages/av.libs/libXau-7926f62a.so.6.0.0
.venv/lib/python3.12/site-packages/av.libs/libasound-612e92e2.so.2.0.0
.venv/lib/python3.12/site-packages/av.libs/libavcodec-4b81d6e7.so.62.28.102
.venv/lib/python3.12/site-packages/av.libs/libavdevice-53515e87.so.62.3.102
.venv/lib/python3.12/site-packages/av.libs/libavfilter-2e359d35.so.11.14.102
.venv/lib/python3.12/site-packages/av.libs/libavformat-9df08f27.so.62.12.102
.venv/lib/python3.12/site-packages/av.libs/libavutil-ccca8ed8.so.60.26.102
.venv/lib/python3.12/site-packages/av.libs/libdav1d-32aec4a5.so.7.0.0
.venv/lib/python3.12/site-packages/av.libs/libdrm-7ea97f77.so.2.4.0
.venv/lib/python3.12/site-packages/av.libs/libgmp-23e3f84b.so.10.5.0
.venv/lib/python3.12/site-packages/av.libs/libgnutls-aa1c0a85.so.30.42.0
.venv/lib/python3.12/site-packages/av.libs/libhogweed-272d0244.so.6.11
.venv/lib/python3.12/site-packages/av.libs/libmp3lame-ee237334.so.0.0.0
.venv/lib/python3.12/site-packages/av.libs/libnettle-3fe2eda7.so.8.11
.venv/lib/python3.12/site-packages/av.libs/libopencore-amrnb-41f6423c.so.0.0.5
.venv/lib/python3.12/site-packages/av.libs/libopencore-amrwb-6136252c.so.0.0.5
.venv/lib/python3.12/site-packages/av.libs/libopus-4a9173fa.so.0.11.1
.venv/lib/python3.12/site-packages/av.libs/libsharpyuv-67a1cf20.so.0.1.2
.venv/lib/python3.12/site-packages/av.libs/libswresample-946ca3e6.so.6.3.102
.venv/lib/python3.12/site-packages/av.libs/libswscale-0dceead9.so.9.5.102
.venv/lib/python3.12/site-packages/av.libs/libunistring-0999715d.so.5.2.1
.venv/lib/python3.12/site-packages/av.libs/libvpx-db4bc8c1.so.12.0.0
.venv/lib/python3.12/site-packages/av.libs/libwebp-df30dee3.so.7.2.0
.venv/lib/python3.12/site-packages/av.libs/libwebpmux-6542e8dd.so.3.1.2
.venv/lib/python3.12/site-packages/av.libs/libx264-fd5179c6.so.165
.venv/lib/python3.12/site-packages/av.libs/libx265-9fab7229.so.216
.venv/lib/python3.12/site-packages/av.libs/libxcb-8fcfc57e.so.1.1.0
.venv/lib/python3.12/site-packages/av.libs/libxcb-shape-c3b64477.so.0.0.0
.venv/lib/python3.12/site-packages/av.libs/libxcb-shm-1266c612.so.0.0.0
.venv/lib/python3.12/site-packages/av.libs/libxcb-xfixes-a124fd6b.so.0.0.0
.venv/lib/python3.12/site-packages/av/_core.abi3.so
.venv/lib/python3.12/site-packages/av/audio/codeccontext.abi3.so
.venv/lib/python3.12/site-packages/av/audio/fifo.abi3.so
.venv/lib/python3.12/site-packages/av/audio/format.abi3.so
.venv/lib/python3.12/site-packages/av/audio/frame.abi3.so
.venv/lib/python3.12/site-packages/av/audio/layout.abi3.so
.venv/lib/python3.12/site-packages/av/audio/plane.abi3.so
.venv/lib/python3.12/site-packages/av/audio/resampler.abi3.so
.venv/lib/python3.12/site-packages/av/audio/stream.abi3.so
.venv/lib/python3.12/site-packages/av/bitstream.abi3.so
.venv/lib/python3.12/site-packages/av/buffer.abi3.so
.venv/lib/python3.12/site-packages/av/codec/codec.abi3.so
.venv/lib/python3.12/site-packages/av/codec/context.abi3.so
.venv/lib/python3.12/site-packages/av/codec/hwaccel.abi3.so
.venv/lib/python3.12/site-packages/av/container/core.abi3.so
.venv/lib/python3.12/site-packages/av/container/input.abi3.so
.venv/lib/python3.12/site-packages/av/container/output.abi3.so
.venv/lib/python3.12/site-packages/av/container/pyio.abi3.so
.venv/lib/python3.12/site-packages/av/container/streams.abi3.so
.venv/lib/python3.12/site-packages/av/device.abi3.so
.venv/lib/python3.12/site-packages/av/dictionary.abi3.so
.venv/lib/python3.12/site-packages/av/error.abi3.so
.venv/lib/python3.12/site-packages/av/filter/context.abi3.so
.venv/lib/python3.12/site-packages/av/filter/filter.abi3.so
.venv/lib/python3.12/site-packages/av/filter/graph.abi3.so
.venv/lib/python3.12/site-packages/av/filter/link.abi3.so
.venv/lib/python3.12/site-packages/av/filter/loudnorm.abi3.so
.venv/lib/python3.12/site-packages/av/format.abi3.so
.venv/lib/python3.12/site-packages/av/frame.abi3.so
.venv/lib/python3.12/site-packages/av/index.abi3.so
.venv/lib/python3.12/site-packages/av/logging.abi3.so
.venv/lib/python3.12/site-packages/av/opaque.abi3.so
.venv/lib/python3.12/site-packages/av/packet.abi3.so
.venv/lib/python3.12/site-packages/av/plane.abi3.so
.venv/lib/python3.12/site-packages/av/sidedata/encparams.abi3.so
.venv/lib/python3.12/site-packages/av/sidedata/motionvectors.abi3.so
.venv/lib/python3.12/site-packages/av/sidedata/sidedata.abi3.so
.venv/lib/python3.12/site-packages/av/stream.abi3.so
.venv/lib/python3.12/site-packages/av/subtitles/codeccontext.abi3.so
.venv/lib/python3.12/site-packages/av/subtitles/stream.abi3.so
.venv/lib/python3.12/site-packages/av/subtitles/subtitle.abi3.so
.venv/lib/python3.12/site-packages/av/utils.abi3.so
.venv/lib/python3.12/site-packages/av/video/codeccontext.abi3.so
.venv/lib/python3.12/site-packages/av/video/format.abi3.so
.venv/lib/python3.12/site-packages/av/video/frame.abi3.so
.venv/lib/python3.12/site-packages/av/video/plane.abi3.so
.venv/lib/python3.12/site-packages/av/video/reformatter.abi3.so
.venv/lib/python3.12/site-packages/av/video/stream.abi3.so
.venv/lib/python3.12/site-packages/ctranslate2.libs/libctranslate2-da68685d.so.4.8.1
.venv/lib/python3.12/site-packages/ctranslate2.libs/libgomp-a49a47f9.so.1.0.0
.venv/lib/python3.12/site-packages/ctranslate2/_ext.cpython-312-aarch64-linux-gnu.so
.venv/lib/python3.12/site-packages/faster_whisper/assets/silero_vad_v6.onnx
.venv/lib/python3.12/site-packages/pip/_vendor/certifi/cacert.pem
